{ 
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;
    color: #000000;
}
body {
    margin-left: 18%;
    margin-right: 18%
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav a {
    display: block;
    width: 80px;
    color: white;
    text-decoration: none
}
