body {
    margin-left: 20%;
    margin-right: 20%
}

/* HEADER RULES */

header {
    background-color: #ffffff;
    color: #000000;
}
header img {
    width: 100%;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20px; 
    font-weight:500; 
    color: rgb(234,73,51);
}
h2 { 
    margin-bottom: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 16px;
    font-weight:400;
}
h3 {
    font-family: helvetica; 
    font-weight:100; 
    font-size: 12px;
}
h4 {
    font-family: helvetica; 
    font-weight:100; 
    font-size: 12px;
    margin-left: 20px;
}


/* NAV RULES */

nav {
    background-color:black;
    color: #ffffff;
    list-style: none;
    margin-bottom: 12px;
    padding: 1%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 13px; 
    font-weight: 500;
    text-align: center;
}
nav li {
    display:inline;
}
nav a {
    padding-left:2%;
    padding-right:2%;
    text-decoration:none;
}
nav a:visited {
    color: white;
    text-decoration: none
}
nav a:link {
    color: white;
    text-decoration: none
}
nav a:focus {
    color: white;
    text-decoration: none
}
nav a:hover {
    color: rgb(234,73,51);
    text-decoration: none
}
ul {
list-style-type:none;
margin:0;
padding:0
}

/* ARTICLE RULES */

article {
    margin-bottom: 12px;
}
article a {
    color: rgb(234,73,51);
    text-decoration: none;
}
article a:hover {
    color: #000000;
    text-decoration: underline
}
article iframe {
    width: 100%
}
div {
    font-family: helvetica; 
    font-weight:100; 
    font-size: 12px;
    margin-bottom: 12px;
}
img {
    width:100%;
}
p {
    font-family: helvetica; 
    font-weight:100; 
    font-size: 12px;
    margin-bottom: 12px;
}
p img {
    width: 215px;
    margin-right: 12px;
}

/* FOOTER RULES */

footer {
    background-color: black;
    color: white;
    padding-top:2px;
    padding-bottom:7px;
    text-align:center;
    font-family: helvetica; 
    font-weight:100; 
    font-size: 12px;
    height:45px;
}
footer img {
    width:32px;
}

/* RESPONSIVE WEB DESIGN OVERRIDES */

@media screen and (max-width: 600px) {
    
    body {
        margin-left: 5%;
        margin-right: 5%
    }
    h1 {
        text-align:center;
    }
    footer {
        text-align:center;
    }
}
    
